* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #4f39af;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: white;
    height: 31vh;
    width: 75vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: relative;
}

.big-ball {
    height: 80%;
    width: 20%;
    background-color: #9d577b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 0%;
    transition: left 0.5s linear;
}

p {
    font-size: 20px;
}

.big-ball:active {
    left: 12%;
}

.small-ball {
    height: 40%;
    width: 10%;
    background-color: #328fb1;
    border-radius: 100%;
    position: absolute;
    bottom: 10%;
    left: 30%;
    transition: left 3s 0.5s linear;
}

.big-ball:active ~ .small-ball {
    left: 89%;
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }
}