#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
  justify-items: center;
  margin: 5vh 10vw;
}


.zoom-container {
  border-radius: 10px;
  width: 360px;
  height: 400px;
  overflow: hidden;
  display: flex;
  padding: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.zoom-container img {
  transition: transform .6s ease;
}

.zoom-container:hover img {
  transform: scale(1.2);
  border-radius: 10px;
}

img{
  width: 350px;
  height: 380px;
  border-radius: 10px;
}

.cover{
  object-fit: contain;
}



/* ******** DETAIL ********  */

.main-detail{
  margin: 5vh auto;
  height: 450px;
  width: 550px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
}


.img-grid {
  margin: 3vh 0;
  display: grid;
  justify-items: end;
  align-items: end
}
.price-tag {
  margin: 0 300px;
  color: #000;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 120px;
}

.detail-img{
  width: 100%;
  object-fit: contain;
}

.detail-info{
  margin: 5vh 0;
  position: relative;
}
