main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  height: 120px;
  width: 120px;
  background-color: rgb(214, 68, 68);
  border-radius: 15px;
  transition: all 1s ease-in-out;
}

div:hover {
    transform-origin: -34% -11%;
    transform: scale(2) rotate(90deg);
}