@font-face {
    font-family: Lato;
    src: url(./font/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 65,5%;
}

/* nav */

nav {
    display: flex;
    align-items: center;
}

div {
    margin-right: 3vw;
}

.right {
    margin: auto;
}

h1 {
    display: inline;
}

li {
    display: inline;
    list-style: none;
    padding: 20px;
}

a {
    text-decoration: none;
}

/* ENDE nav */

/* main */
main {
    height: auto;
    background-color: #d9e8e5;
}

section {
    padding: 20vh;
}

h2 {
    margin-bottom: 5vh;
}

article {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
}

