h3::first-letter {
    font-size: 3em;
    color:#00796B;
}

h3:hover::first-letter {
    color: #4FC3F7;
}

li:first-of-type::first-letter {
    color: #4FC3F7;
    font-size: 2em;
    text-decoration: overline;
}

li:nth-of-type(2)::first-letter {
    color: #C51162;
    font-size: 2em;
    text-decoration: underline;
}

li:last-of-type::first-letter {
    color: #64DD17;
    font-size: 2em;
}

li:last-of-type {
    text-decoration: line-through;
}

p:first-of-type {
    color: #37474F;
    text-indent: 50px;
}

p:first-of-type::first-line {
    font-size: 1.3em;
}

p:not(p:first-of-type)::first-letter {
    color: #D50000;
    font-size: 1.5em;
}

p:hover:not(p:first-of-type)::first-line {
    color: #303F9F;
}

p:nth-of-type(even) {
    font-weight: 600;
}