@font-face {
    font-family: awesome;
    src: url(./SpaceGrotesk-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: awesome, sans-serif;
}

h1 {
    text-align: center;
    color: wheat;
    background-color: rgba(225, 143, 89, 0.313);
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

main {
    background: url(./beach.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

div {
    height: 40px;
}